:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --hero-color: #2f303a;
  --bg-secondary-color: #f5f4fa;
  --adressf-color: rgba(255, 255, 255, 0.6);
  --card-set-gap: 30px;
  --header-border: rgba(236, 236, 236, 1);
  --card-border: rgba(238, 238, 238, 1);
  --social-icon: rgba(175, 177, 184, 1);
  --bg-icon-color: rgba(255, 255, 255, 0.1);
  --gradient-color: rgba(47, 48, 58, 0.4);
  --poluprozracnyj-seryj: rgba(47, 48, 58, 0.8);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop: rgba(0, 0, 0, 0.2);
  --black: rgba(0, 0, 0, 1);
  --closed-border: rgba(0, 0, 0, 0.1);
  --modal-border: rgba(33, 33, 33, 0.2);
  --placeholder: rgba(117, 117, 117, 0.5);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  /*display: flex;*/
}

.page-header {
  border-bottom: 1px solid var(--header-border);
}

.page-header__container {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  display: block;
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0px;
  bottom: -1px;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0px;
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.adress__link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}

.adress__svg {
  margin-right: 10px;
  fill: currentColor;
}

.adress-footer {
  margin-top: 20px;
}

.adress-footer__street {
  color: var(--primary-bg-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-top: 0px;
  margin-bottom: 9px;
}

.adress-footer__link {
  color: var(--adressf-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  margin-bottom: 9px;
}

.adress-footer__link:last-child {
  margin-bottom: 0px;
}

.logo {
  text-decoration: none;
  font-family: raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logo__footer {
  margin-right: 0;
}

.logo__text {
  color: var(--accent-color);
}

.logo__text--black {
  color: var(--title-color);
}

.logo__text--white {
  color: var(--primary-bg-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--with-bgcolor {
  background-color: var(--bg-secondary-color);
}

.section--no-padding-top {
  padding-top: 0px;
  padding-bottom: 94px;
}

.page-footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.connect-foother {
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 16px;
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 54%;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  color: var(--social-icon);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.social__picture {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__items:not(:first-child) {
  margin-left: 10px;
}

.social__icon:not(:first-child) {
  margin-left: 10px;
}

.social__icon:hover, .social__icon:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.social__icon--fother {
  color: var(--primary-bg-color);
  background-color: var(--bg-icon-color);
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
}

.social__icon--fother:hover, .social__icon--fother:focus {
  background-color: var(--accent-color);
}

.submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.submit-form__placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 15px;
  color: var(--adressf-color);
  background-color: var(--hero-color);
  min-width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 15px;
}

.submit-button {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--bg-secondary-color);
  text-align: left;
  padding-left: 29px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}

.submit-button__icon-send {
  position: absolute;
  right: 28px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero {
  text-align: center;
  min-height: 600px;
  padding-top: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-color)), to(var(--gradient-color))), url(../images/hero.jpg);
  background-image: linear-gradient(var(--gradient-color), var(--gradient-color)), url(../images/hero.jpg);
  background-color: var(--hero-color);
}

.hero__title {
  color: var(--primary-bg-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero__button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  display: block;
  padding-top: 10px;
  padding-left: auto;
  padding-bottom: 10px;
  padding-right: auto;
  width: 200px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border: transparent;
  -webkit-transition: background-color 250ms var(--cubic), color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}

.advantage__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.advantage__item {
  width: 270px;
}

.advantage__item:not(:last-child) {
  margin-right: 30px;
}

.advantage__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-secondary-color);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=main.css.map */