.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-right: 83px;
  padding-bottom: 38px;
  padding-left: 40px;
  background-color: var(--primary-bg-color);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-color);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container__menu-toggle {
  position: absolute;
  top: 20px;
  right: 15px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__link {
  display: block;
  padding: 10px;
  color: var(--title-color);
  text-decoration: none;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.mobile-menu__social {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--accent-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
}

.mobile-menu__line {
  color: var(--primary-text-color);
  margin-left: 10px;
  margin-right: 10px;
}

.adress__link {
  display: block;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 32px;
}

.adress__link--blue {
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  margin-top: 302px;
}

.adress__link--grey {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  color: var(--primary-text-color);
}

.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 64px;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .menu {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .menu__list {
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__list {
    margin-right: 300px;
  }
}

.menu__item {
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link--current {
  position: relative;
  display: block;
  color: var(--accent-color);
}

.menu__link--current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0px;
  bottom: -1px;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-adress {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-adress__link {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.menu-adress__link:hover, .menu-adress__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-adress__link {
    display: block;
    font-size: 12px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1200px) {
  .menu-adress__link {
    font-size: 14px;
    line-height: 1.14;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .menu-adress__link:not(:last-child) {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .menu-adress__link:not(:last-child) {
    margin-bottom: 0px;
  }
}

.adress__svg {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .menu-adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .menu-adress {
    display: block;
    min-width: 200px;
  }
}
/*# sourceMappingURL=menu-header.css.map */