/*.checkbox {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;

  &__accept {
    display: flex;
    justify-content: space-between;

    align-items: center;

    @media screen and (min-width: 320px), (max-width: 320px) {
      font-size: 8px;
    }

    @media screen and (min-width: 480px) {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.03em;
    }

    @media screen and (min-width: 1200px) {
      font-weight: normal;
      font-size: 14px;
      line-height: 1.71;

      letter-spacing: 0.03em;
    }
  }

  &__input {
    position: absolute;
    width: 16px;
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border 250ms var(--cubic);
  }

  &__icon {
    display: inline-block;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 16px;
    height: 15px;

    border: 2px solid var(--title-color);
    border-radius: 4px;
    cursor: pointer;
  }

  &__agreement {
    color: var(--accent-color);

    font-family: inherit;
  }
}

.checkbox__text--agree {
  font-family: inherit;
  margin-right: 4px;
}

.checkbox__input {
  &:checked + .checkbox__icon {
    border: none;
  }

  &:checked + .checkbox__icon use {
    display: block;
  }
}

.checkbox__icon {
  & use {
    display: none;
  }
}
*/

.form-agreement {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;

  &__accept {
    display: flex;

    align-items: center;
  }

  @media screen and (max-width: 399px) {
    font-size: 8px;
  }

  @media screen and (min-width: 400px) {
    font-size: 9px;
  }
  @media screen and (min-width: 450px) {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  @media screen and (min-width: 1200px) {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
  }
}

.checkbox {
  position: absolute;

  width: 16px;
  height: 15px;

  color: #757575;
  appearance: none;
  -webkit-appearance: none;
  outline-offset: 0;
}

.check-icon {
  border-radius: 2px;
  margin-right: 6px;

  display: inline-block;

  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 1px solid blue;
}

.checkbox:checked + .check-icon {
  background-color: blue;
  border-radius: 2px;

  border-color: blue;
  border: none;
}

.form-agreement__accept {
  display: flex;

  align-items: center;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.check-agreem {
  margin-right: 4px;
}
