.checkbox {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__accept {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border 250ms var(--cubic);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    width: 16px;
    height: 15px;

    border: 2px solid var(--title-color);
    border-radius: 4px;
    cursor: pointer;
  }

  &__agreement {
    color: var(--accent-color);

    font-family: inherit;

    @media screen and (min-width: 1200) {
      font-size: 14px;
      line-height: 1.71;
    }

    @media screen and (min-width: 480) {
      font-size: 12px;
      line-height: 1.17;
    }
  }
}

.checkbox__text--agree {
  font-family: inherit;

  @media screen and (min-width: 1200) {
    font-size: 14px;
    line-height: 1.71;
  }

  @media screen and (min-width: 480) {
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (max-width: 479px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.checkbox__input {
  &:checked + .checkbox__icon {
    border: none;
  }

  &:checked + .checkbox__icon use {
    display: block;
  }
}

.checkbox__icon {
  & use {
    display: none;
  }
}
