.logo {
  text-decoration: none;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;

  &__footer {
    @media screen and (max-width: 768px), (min-width: 768px) {
      display: block;
      text-align: center;
    }

    @media screen and (min-width: 1200px) {
      display: block;
      text-align: left;
    }
    margin-right: 0;
  }
}

.logo__text {
  color: var(--accent-color);

  &--black {
    color: var(--title-color);
  }

  &--white {
    color: var(--primary-bg-color);
  }
}
