.submit-form {
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__placeholder {
    @media screen and (max-width: 767px) {
      display: block;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 767px) {
      display: block;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 0px;
      margin-right: 15px;
    }

    font-family: inherit;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 15px;
    color: var(--adressf-color);
    background-color: var(--hero-color);
    min-width: 100%;
    min-height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }
}

.submit-button {
  @media screen and (max-width: 767px) {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0px;
  }
  position: relative;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--bg-secondary-color);
  text-align: left;
  padding-left: 29px;

  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  &__icon-send {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.foter-tablet__submit {
  @media screen and (max-width: 768px) {
    display: block;
    text-align: center;
    margin-top: 60px;
  }

  @media screen and (min-width: 767px) {
    display: block;
    text-align: center;
    margin-top: 60px;
  }

  @media screen and (max-width: 1200px) {
    margin-top: 0px;
  }
}
